@import '_bourbon.scss';
@import '../App/Config/Config.scss';

.project {
  position: relative;
  display: flex;
  height: 100%;

  &_aside {
    width: $cardAsideWidth;
  }

  &_main {
    padding-left: $cardOffset;
    width: $cardMainWidth;
  }

  &_heading {
    @include margin($textHeight null);
    font-size: $largeTextSize;
  }

  &_text {
    @include margin($mediumTextHeight null);
    line-height: $mediumTextHeight;
  }

  &_position {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
  }

  &_number,
  &_slash,
  &_count {
    margin-left: 5px;
  }
}
