@import '_bourbon.scss';
@import './Config/Config.scss';

.app {
  background-color: $colorBlue;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &_main,
  &_aside {
    @include position(absolute, 50% null null 50%);
  }

  &_main {
    transform: translate(-50%, -50%);
  }

  &_aside {

    &-bottom {
      top: auto;
      left: 0;
      width: 100%;
      bottom: 0;
    }
  }
}
